<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Available Albums</h1>

<form action="/albums" method="POST">
    <fieldset>
        <legend>Add Your Album</legend>

        <label>Album Name</label>
        <input type="text" name="title">

        <label>Artist Name</label>
        <input type="text" name="artist">

        <label>Song Count</label>
        <input type="text" name="songCount">

        <label>Album Duration (in sec)</label>
        <input type="text" name="length">

        <input type="submit" value="Add Album">
    </fieldset>
</form>

<ul>
    <li th:each="album : ${albums}">
        <img th:src="${album.getImageURL()}" alt="">
        <ul>
            <li><h2 th:text="${album.getTitle()}"></h2></li>
            <li>Artist: <span th:text="${album.getArtist()}"></span></li>
            <li>Song Count: <span th:text="${album.getSongCount()}"></span></li>
            <li>Length: <span th:text="${album.getLength()}"></span></li>
            <li>
                <form th:action="'/albums/' + ${album.id}" method="get">
                    <input type="submit" value="View Album">
                </form>
            </li>
        </ul>
    </li>
</ul>

</body>
</html>